{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Info-Bookstore</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css'%}">
<link rel="apple-touch-icon-precomposed" href="{% static 'images/icon/icon.png'%}">
<link rel="shortcut icon" href="{% static 'images/icon/favicon.ico'%}">
<script src="{% static 'js/jquery-2.1.4.min.js'%}">
</script>
</head>

<body class="user-select">
<section class="container-fluid">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="/">Book Empire</a> </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../" onClick="if(!confirm('Are you sure？'))return false;">Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="row">
    <aside class="col-sm-2 col-md-2 col-lg-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="../user_info">User info</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a>Customer</a></li>
        <li><a href="../order">Order</a></li>
        <li><a href="../my_order_history">My Order History</a></li>
        <li><a href="../my_comment_history">My Comment History</a></li>
      </ul>
      <ul class="nav nav-sidebar">
          <li><a>Admin</a></li>
          <li><a class="dropdown-toggle" id="settingMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Books</a>
            <ul class="dropdown-menu" aria-labelledby="settingMenu">
              <li><a href="../create_book">Create New Book Entry</a></li>
              <li><a href="../add_book">Add Book Copies</a></li>
            </ul>
          </li>
            <li><a href="../view_all_orders">Check All Orders</a></li>
            <li><a href="../overview">Overview Panel</a></li>
        </ul>
    </aside>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
        <form action="" method="post" autocomplete="off" draggable="false">
          <div class="col-md-9">
            <h1 class="page-header">User Information</h1>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>Real Name</span></h2>
              <div class="add-article-box-content">
                <input type="text" name="real_name" class="form-control" placeholder="Input your name" value="{{ user_info.3 }}">
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>Old Password</span></h2>
              <div class="add-article-box-content">
                <input type="password" name="old_password" class="form-control" placeholder="Input your old password">
              </div>
              <h2 class="add-article-box-title"><span>New Password</span></h2>
              <div class="add-article-box-content">
                <input type="password" name="new_password" class="form-control" placeholder="Input your new password">
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>Phone Number</span></h2>
              <div class="add-article-box-content">
                <input type="text" name="phone_num" class="form-control" placeholder="Input your phone number" value="{{ user_info.4 }}">
              </div>
            </div>
            <div class="add-article-box-footer">
              <button class="btn btn-primary" type="submit" name="Submit_User_Update" value="Submit_User_Update">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
<script type="text/javascript">
 $(function(){
   {% if alert %}
      alert('{{alert}}');
   {% endif %}
 });
</script>
</html>